<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">-->
<!--    <title>Dleohr - Bootstrap Admin HTML Template</title>-->

<!--    <link href="/assets/img/favicon.png" rel="shortcut icon">-->

<!--    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">-->

<!--    <link href="/assets/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet">-->
<!--    <link href="/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet">-->

<!--    <link href="/assets/css/style.css" rel="stylesheet">-->
<!--    &lt;!&ndash;[if lt IE 9]>-->
<!--    <script src="/assets/js/html5shiv.min.js"></script>-->
<!--    <script src="/assets/js/respond.min.js"></script>-->
<!--    <![endif]&ndash;&gt;-->
<!--</head>-->
<!--<body>-->

<!--    Start Sidebar-->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-contents">
                <div class="sidebar-menu" id="sidebar-menu">
                    <div class="mobile-show">
                        <div class="offcanvas-menu">
                            <div class="user-info align-center bg-theme text-center">
                                <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
                                <a class="d-block menu-style text-white" href="javascript:void(0)">
                                    <div class="user-avatar d-inline-block mr-3">
                                        <img alt="user avatar" class="rounded-circle"
                                             src="/assets/img/profiles/avatar-18.jpg" width="50">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="sidebar-input">
                            <div class="top-nav-search">
                                <form>
                                    <input class="form-control" placeholder="Search here" type="text">
                                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="active">
                            <a href="/employee/index"><img alt="sidebar_img" src="/assets/img/home.svg">
                                <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/employee/addform">
                                <img alt="sidebar_img" src="/assets/img/employee.svg">
                                <span>Employees</span>
                            </a>
                        </li>
                        <li>
                            <a href="/employee">
                                <img alt="sidebar_img" src="/assets/img/employee.svg">
                                <span>All Employees</span>
                            </a>
                        </li>
                        <li>
                            <a href="/attendance/addform"><img alt="sidebar_img" src="/assets/img/company.svg">
                                <span> Attendance</span></a>
                        </li>
                        <li>
                            <a href="/attendance"><img alt="sidebar_img" src="/assets/img/calendar.svg">
                                <span>All Attendance</span></a>
                        </li>
                        <li>
                            <a href="/department/addform"><img src="/assets/img/calendar.svg" alt="sidebar_img">
                                <span>Department</span></a>
                        </li>
                        <li>
                            <a href="/department"><img src="/assets/img/calendar.svg" alt="sidebar_img">
                                <span>All Department</span></a>
                        </li>
                        <li>

                        <li>
                            <a href="/leave/addform"><img alt="sidebar_img" src="/assets/img/leave.svg">
                                <span>Leave</span></a>
                        </li>
                        <li>
                            <a href="/leave"><img alt="sidebar_img" src="/assets/img/leave.svg">
                                <span>All Leave</span></a>
                        </li>
                        <li>
                            <a href="calendar.html"><img alt="sidebar_img" src="/assets/img/calendar.svg">
                                <span>Advance</span></a>
                        </li>
                        <li>
                            <a href="review.html"><img alt="sidebar_img" src="/assets/img/review.svg"><span>Salary</span></a>
                        </li>
                        <li>
                            <a href="report.html"><img alt="sidebar_img" src="/assets/img/report.svg"><span>Report</span></a>
                        </li>
                        <li>
                            <a href="manage.html"><img alt="sidebar_img" src="/assets/img/manage.svg">
                                <span>Manage</span></a>
                        </li>
                        <li>
                            <a href="settings.html"><img alt="sidebar_img"src="/assets/img/settings.svg"><span>Settings</span></a>
                        </li>
                        <li>
                            <a href="profile.html"><img alt="sidebar_img" src="/assets/img/profile.svg">
                                <span>Profile</span></a>
                        </li>
                    </ul>
                    <ul class="logout">
                        <li>
                            <a href="profile.html"><img alt="sidebar_img"
                                                        src="/assets/img/logout.svg"><span>Log out</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--end sidebar-->

<!--    <script src="/assets/js/jquery-3.6.0.min.js"></script>-->

<!--    <script src="/assets/js/popper.min.js"></script>-->
<!--    <script src="/assets/js/bootstrap.min.js"></script>-->

<!--    <script src="/assets/js/feather.min.js"></script>-->

<!--    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>-->

<!--    <script src="/assets/plugins/apexchart/apexcharts.min.js"></script>-->
<!--    <script src="/assets/plugins/apexchart/chart-data.js"></script>-->

<!--    <script src="/assets/js/script.js"></script>-->


<!--</body>-->
<!--</html>-->